# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Logs
*.log

# ===========================
# React / Node
# ===========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Environment
# ===========================

.env
.env.local